.inputWrapper {
  position: relative;
  margin: 24px auto 0;
  text-align: center;

  input {
    width: 90%;
    padding: 8px;
  }

  img {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 16px;

    .password {
      cursor: pointer;
    }
  }
}

.errorMessage {
  margin-left: 8px;
  font-size: smaller;
  color: rgb(255, 0, 0);
}
